/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Variables
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Mixin
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Animations
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
@-webkit-keyframes slideDown {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes slideDown {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}

@-webkit-keyframes slideIn {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}

@keyframes slideIn {
  from {
    width: 100%;
  }
  to {
    width: 80%;
  }
}

@-webkit-keyframes slideIn2 {
  from {
    width: 100%;
  }
  to {
    width: 71%;
  }
}

@keyframes slideIn2 {
  from {
    width: 100%;
  }
  to {
    width: 71%;
  }
}

@-webkit-keyframes hello {
  from {
    font-size: 0em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    font-size: 1.5em;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes hello {
  from {
    font-size: 0em;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    font-size: 1.5em;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes border {
  from {
    border-radius: 15px;
  }
  to {
    border-radius: 15px 0 0 15px;
  }
}

@keyframes border {
  from {
    border-radius: 15px;
  }
  to {
    border-radius: 15px 0 0 15px;
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
    margin-top: 5em;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    margin-top: 5em;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Menu
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
/*---------Body---------*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.main {
  width: 100%;
  height: 300px;
}

/*---------Header---------*/
header {
  height: 3.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header a {
  position: absolute;
  left: 20px;
}

header a .fas {
  color: #353535;
}

header img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*---------Img menu---------*/
.img-menu {
  height: 15.5em;
  width: 100%;
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.img-menu .bottom-style {
  height: 2.2em;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}

/*---------Menu content---------*/
.menu-content {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tittle {
  width: 90%;
  height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tittle h1 {
  margin: 0;
  font-size: 1.9em;
  font-style: italic;
}

.tittle .far {
  margin-right: 0.5em;
  font-size: 1.5em;
  color: black;
}

.entrees, .plats, .desserts {
  width: 90%;
  margin-top: 2.5em;
  opacity: 0;
}

.entrees h4, .plats h4, .desserts h4 {
  font-weight: lighter;
  margin: 0;
  margin-top: 2em;
}

.entrees .lign, .plats .lign, .desserts .lign {
  height: 0.2em;
  width: 2.5em;
  margin-top: 0.4em;
  background-color: #99e2d0;
}

.entrees {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.plats {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.desserts {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.vignette {
  width: 100%;
  height: 4.5em;
  background-color: white;
  margin-top: 0.75em;
  border-radius: 1em;
  -webkit-box-shadow: -3px 11px 21px -11px rgba(0, 0, 0, 0.79);
          box-shadow: -3px 11px 21px -11px rgba(0, 0, 0, 0.79);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vignette a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.vignette .vignette-in-left {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.vignette .vignette-in-left:hover .vignette-in-right {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.vignette .vignette-in-right {
  width: 0%;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 1em 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vignette .vignette-in-right .fas {
  color: white;
  font-size: 0em;
}

.vignette .vignette-in .vignette-in-top h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vignette .vignette-in .vignette-in-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vignette .vignette-in .vignette-in-buttom p {
  margin: 0;
  padding-top: 0.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.vignette .vignette-in .vignette-in-buttom .bold {
  font-weight: bold;
}

.vignette .vignette-in .vignette-in-buttom .small {
  font-weight: lighter;
}

.vignette:hover .vignette-in-left {
  -webkit-animation-name: slideIn, border;
          animation-name: slideIn, border;
  -webkit-animation-duration: 0.5s, 0s;
          animation-duration: 0.5s, 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.21, 0.61, 1, 0.57), linear;
          animation-timing-function: cubic-bezier(0.21, 0.61, 1, 0.57), linear;
}

.vignette:hover .vignette-in-right {
  -webkit-animation: slideDown 0.5s forwards;
          animation: slideDown 0.5s forwards;
  -webkit-animation-timing-function: cubic-bezier(0.41, 0.81, 0.6, 0.67);
          animation-timing-function: cubic-bezier(0.41, 0.81, 0.6, 0.67);
}

.vignette:hover .vignette-in-right .fas {
  -webkit-animation: hello 0.5s forwards;
          animation: hello 0.5s forwards;
}

.bold:hover .vignette-in-left {
  -webkit-animation-name: slideIn2;
          animation-name: slideIn2;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.21, 0.61, 1, 0.57);
          animation-timing-function: cubic-bezier(0.21, 0.61, 1, 0.57);
}

.bold:hover .vignette-in-left a .vignette-in-buttom .small {
  width: 80%;
}

@media screen and (max-width: 390px) {
  .bold .vignette-in-top {
    max-width: 15em;
  }
}

@media screen and (max-width: 390px) {
  .bold .vignette-in-buttom .small {
    max-width: 10em;
  }
}

.button {
  width: 50%;
  height: 3.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), color-stop(77%, #9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 77%);
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: 2em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -3px 11px 21px -11px rgba(0, 0, 0, 0.79);
          box-shadow: -3px 11px 21px -11px rgba(0, 0, 0, 0.79);
}

.button a {
  text-decoration: none;
  color: white;
}

/*-----Footer-----*/
footer {
  height: 12.5em;
  width: 100%;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-in {
  width: 82%;
  height: 77%;
}

footer .footer-in a {
  text-decoration: none;
}

footer .footer-in img {
  width: 8em;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-bottom: 1em;
}

footer .logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.1em;
}

footer .logo-text p {
  margin: 0;
  margin-left: 0.5em;
  color: white;
}

footer .fa-utensils {
  font-size: 0.9em;
  color: white;
}

footer .fa-hands-helping {
  font-size: 0.6em;
  color: white;
}

footer .text-in {
  text-align: left;
  margin-top: 0;
  color: white;
}

footer .one {
  margin-bottom: 0;
}
/*# sourceMappingURL=style-menu.css.map */