/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Variables
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/

$gradien-color: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 77%);

$violet: #9356dc;

$box-shadow: -3px 11px 21px -11px rgba(0,0,0,0.79);

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Mixin
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/

@mixin midbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Animations
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
@keyframes loaderMain {
    from {
        z-index: 3;
    }

    to {
        z-index: 1;
    }
}

@keyframes loaderMain2{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Code
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/


/*---------Body---------*/

.loader {
    width: 100%;
    height: 100%;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    animation-name: loaderMain2;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

main {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    animation-name: loaderMain;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}


/*---------Body---------*/

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}


/*---------Header---------*/

header {
    height: 5em;
    width: 100%;
    @include midbox;
}

.logo {
    width: 50%;
}
 
.logo img {
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 700px){
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo img {
        width: 55%;
    }
}

@media screen and (min-width: 1600px){
    .logo img {
        width: 25%;
    }
}


/*---------Localisation---------*/

.localisation {
    width: 100%;
    height: 20em;
    background-color: #f6f6f6;
}

.localisation-top {
    height: 4em;
    width: 100%;
    background-color: #eaeaea;
    background: rgb(185,185,185);
    background: linear-gradient(180deg, rgba(185,185,185,1) 0%, rgba(234,234,234,1) 8%);
    @include midbox;
}

.map {
    margin-right: 1em;
    font-size: 1.5em;
}

.localisation-bottom {
    @include midbox;
    flex-direction: column;
    height: 60%;
    margin-top: 1em;
}    

.localisation-bottom h1, p {
    text-align: center;
    margin: 0;
    margin-top: 0.5em;
}

.button {
    height: 3em;
    min-width: 13em;
    margin-top: 1.5em;
    background: $gradien-color;
    border-radius: 25px;
    @include midbox;
    box-shadow: $box-shadow;
    text-decoration: none; 
}

.button p {
    color: white;
    margin: 0;
}


/*---------Fonctionnement---------*/

.fonctionnement {
    margin-left: 2em;
    margin-top: 2em;
}

.fonctionnement .button-1, .button-2, .button-3 {
    width: 86%;
    height: 4em;
    background-color: #f6f6f6;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0.5em;
    margin-top: 1.5em;
    position: relative;
    text-decoration: none;
    color: black;
    box-shadow: $box-shadow;
}

.fonctionnement .button-3 {
    margin-bottom: 2.5em;
}

.fonctionnement .button-1:hover, .button-2:hover, .button-3:hover {
    background-color: #f5edff;
    
    .fas {
        color: $violet;
    }
}

.fonctionnement .number {
    width: 1.7em;
    height: 1.7em;
    @include midbox;
    background-color: $violet;
    border-radius: 5em;
    position: absolute;
    left: -0.7em;
}

.fonctionnement .number p {
    margin: 0;
    color: white;
}

.fonctionnement .fas {
    margin-left: 2em;
    color: #7e7e7e;
}

.fonctionnement .description {
    margin-left: 1em;
}


/*---------Restaurants---------*/

.restaurants {
    height: 76.5em;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.restaurants .title {
    height: 4.5em;
    margin-left: 2em;
    display: flex;
}

.restaurants .title h1 {
    margin: 0;
    margin-top: 1.5em;
}


/*-----Restaurants-----*/

.vignettes {
    height: 92%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.vignette-in {
    height: 23%;
    width: 82%;
    background-color: white;
    border-radius: 1em;
    box-shadow: $box-shadow;
}

.v4 {
    margin-bottom: 2em;
}

.vignette-in-top {
    width: 100%;
    height: 70%;
}

.vignette-in-top img {
    width: 100%;
    height: 100%;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
}

.new {
    position: relative;
}

.new-in {
    position: absolute;
    top: 0.7em;
    right: 0.7em;
    background-color: #99e2d0;
    @include midbox;
    width: 5.2em;
    height: 2em;
    border-radius: 0.2em;
}

.new-in p {
    margin: 0;
    color: #008766;
}

.vignette-in-buttom{
    height: 30%;
    display: flex;
}

.vignette-buttom-left {
    height: 100%;
    width: 70%;
    margin-left: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.vignette-buttom-left h3 {
    margin: 0;
}

.vignette-buttom-left .buttom {
    font-weight: lighter;
    margin-top: 0.2em;
}

.vignette-buttom-right {
    width: 30%;
    @include midbox;
}

.vignette-buttom-right .far {
    font-size: 1.5em;
}

.vignette-buttom-right .fas {
    display: none;
    color: $violet;
    font-size: 1.5em;
}

.vignette-buttom-right .far:hover {
    display: none;

    .vignette-buttom-right .fas {
        display: block;
    }
}



/*-----Footer-----*/

footer {
    height: 12.5em;
    width: 100%;
    background-color: #353535;
    @include midbox;
}

.footer-in {
    width: 82%;
    height: 77%;
}

.footer-in img {
    width: 8em;
    filter: invert(1);
    margin-bottom: 1em;
}

.logo-text {
    display: flex;
    align-items: center;
    margin-top: 0.1em;
}

.logo-text p {
    margin: 0;
    margin-left: 0.5em;
    color: white;
}

.fa-utensils {
    font-size: 0.9em;
    color: white;
}

.fa-hands-helping {
    font-size: 0.6em;
    color: white;
}

.text-in {
    text-align: left;
    margin-top: 0;
    color: white;
}

.one {
    margin-top: 0.3em;
}
