/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Variables
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
$violet: #9356dc;

$grey: #f6f6f6;

$box-shadow: -3px 11px 21px -11px rgba(0,0,0,0.79);

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Mixin
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/

@mixin midbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Animations
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/

@keyframes slideDown {
    from {
        width: 0%;
    }

    to {
        width: 20%;
    }
}

@keyframes slideIn {
    from {
        width: 100%;
    }

    to {
        width: 80%;
    }
}

@keyframes slideIn2 {
    from {
        width: 100%;
    }

    to {
        width: 80%;
    }
}

@keyframes hello {
    from {
        font-size: 0em;
        transform: rotate(0deg);
    }

    to {
        font-size: 1.5em;
        transform: rotate(360deg);
    }
}

@keyframes border  {
    from {
        border-radius: 15px;
    }

    to {
        border-radius: 15px 0 0 15px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
        margin-top: 5em;
    }

    to{
        opacity: 1;
        margin-top: 0;
    }
}



/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Menu
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/


/*---------Body---------*/

body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}    

.main {
    width: 100%;
    height: 300px;
}

/*---------Header---------*/

header {

    height: 3.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        position: absolute;
        left: 20px;

        .fas {
            color: #353535;
        }
    }

    img {
            width: 50%;
            object-fit: cover;
    }
}


/*---------Img menu---------*/

.img-menu {
    height: 15.5em;
    width: 100%;
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .bottom-style {
        height: 2.2em;
        width: 100%;
        background-color: $grey;
        border-radius: 30px 30px 0 0;
    }
}    


/*---------Menu content---------*/

.menu-content {
    background-color: $grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tittle {
    width: 90%;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
        font-size: 1.9em;
        font-style: italic;
    }

    .far {
        margin-right: 0.5em;
        font-size: 1.5em;
        color: black;
    }
}

.entrees, .plats, .desserts {
    width: 90%;
    margin-top: 2.5em;
    opacity: 0;
    
    h4 {
        font-weight: lighter;
        margin: 0;
        margin-top: 2em;
    }

    .lign {
        height: 0.2em;
        width: 2.5em;
        margin-top: 0.4em;
        background-color: #99e2d0;
    }
}

.entrees {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.plats {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.2s;
}

.desserts {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.4s;
}

.vignette {
    width: 100%;
    height: 4.5em;
    background-color: white;
    margin-top: 0.75em;
    border-radius: 1em;
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    a {
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    .vignette-in-left {
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
    } 

    .vignette-in-left:hover .vignette-in-right{
        animation-duration: 1s;
    }


    .vignette-in-right {
        width: 0%;
        height: 100%;
        background-color: #99e2d0;
        border-radius: 0 1em 1em 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .fas {
            color: white;
            font-size: 0em;
        }
    }

    .vignette-in .vignette-in-top h3 {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .vignette-in .vignette-in-buttom {
        display: flex;
        justify-content: space-between;
    }

    .vignette-in .vignette-in-buttom p {
        margin: 0;
        padding-top: 0.2em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .vignette-in .vignette-in-buttom .bold {
        font-weight: bold;
    }

    .vignette-in .vignette-in-buttom .small {
        font-weight: lighter;
    }
}

.vignette:hover {
    .vignette-in-left {
        animation-name: slideIn, border;
        animation-duration: 0.5s, 0s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.21,.61,1,.57), linear;
    }

    .vignette-in-right {
        animation: slideDown 0.5s forwards;
        animation-timing-function: cubic-bezier(.41,.81,0.60,.67);
       
        .fas {
        animation: hello 0.5s forwards;
        
        }
    }
}

.bold:hover {
    .vignette-in-left {
        animation-name: slideIn2;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.21,.61,1,.57);

        a .vignette-in-buttom .small{
            width: 80%;
        }
    }
}

@media screen and (max-width: 390px){
    .bold .vignette-in-top{
        max-width: 15em;
    }
}

@media screen and (max-width: 370px){
    .bold .vignette-in-top{
        max-width: 12em;
    }
}

@media screen and (max-width: 390px){
    .bold .vignette-in-buttom .small{
        max-width: 10em;
    }
}

.button {
    width: 50%;
    height: 3.5em;
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 77%);
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 2em;
    color: white;
    @include midbox();
    box-shadow: $box-shadow;

    a {
        text-decoration: none;
        color: white;
    }
}


/*-----Footer-----*/

footer {
    height: 12.5em;
    width: 100%;
    background-color: #353535;
    @include midbox;

    .footer-in {
        width: 82%;
        height: 77%;
    }

    .footer-in a {
        text-decoration: none;
    }
    
    .footer-in img {
        width: 8em;
        filter: invert(1);
        margin-bottom: 1em;
    }
    
    .logo-text {
        display: flex;
        align-items: center;
        margin-top: 0.1em;
    }
    
    .logo-text p {
        margin: 0;
        margin-left: 0.5em;
        color: white;
    }
    
    .fa-utensils {
        font-size: 0.9em;
        color: white;
    }
    
    .fa-hands-helping {
        font-size: 0.6em;
        color: white;
    }
    
    .text-in {
        text-align: left;
        margin-top: 0;
        color: white;
    }
    
    .one {
        margin-bottom: 0;
    }

}


