/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Variables
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/
$violet: #9356dc;

$gradien-color: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 77%);

$grey: #f6f6f6;

$box-shadow: -3px 11px 21px -11px rgba(0,0,0,0.79);

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Mixin
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/

@mixin midbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Animations
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/

@keyframes slideDown {
    from {
        width: 0%;
    }

    to {
        width: 20%;
    }
}

@keyframes slideIn {
    from {
        width: 100%;
    }

    to {
        width: 80%;
    }
}

@keyframes slideIn2 {
    from {
        width: 100%;
    }

    to {
        width: 80%;
    }
}

@keyframes hello {
    from {
        font-size: 0em;
        transform: rotate(0deg);
    }

    to {
        font-size: 1.5em;
        transform: rotate(360deg);
    }
}

@keyframes border  {
    from {
        border-radius: 20px;
    }

    to {
        border-radius: 20px 0 0 20px;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
        margin-top: 5em;
    }

    to{
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes heart1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes heart2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes heart1active {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes heart2active {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

/*---------------------------------------------
-----------------------------------------------
-----------------------------------------------
                Menu
-----------------------------------------------                
-----------------------------------------------
---------------------------------------------*/


/*---------Body---------*/

body {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}    

.main {
    width: 100%;
    height: 300px;

    h1 {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: black;
    }
}


/*---------Header---------*/

header {

    height: 3.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        position: absolute;
        left: 20px;

        .fas {
            color: #353535;
        }
    }

    img {
            width: 50%;
            object-fit: cover;
    }
}


/*---------Img menu---------*/

.img-menu {
    height: 15.5em;
    width: 100%;
    background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .bottom-style {
        height: 2.2em;
        width: 100%;
        background-color: $grey;
        border-radius: 30px 30px 0 0;
    }
}    


/*---------Menu content---------*/

.menu-content {
    background-color: $grey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.tittle {
    width: 90%;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0;
        font-size: 1.9em;
        font-style: italic;
    }

    .heart {
        width: 1.5em;
        position: relative;

        .heart-1, heart-2{
            position: absolute;
            top: 0;
        }

        .heart-1 {
            opacity: 1;
        }

        .heart-1:hover {
            animation-name: heart1;
            animation-duration: 0.1s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        .heart-2 {
            opacity: 0;
            
            .fas {
                background-image: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 77%);
                background-clip: text;
                color: transparent;
            }
        }

        .heart-2:hover {
            animation-name: heart2;
            animation-duration: 0.1s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        i {
            font-size: 1.5em;
        }
    }

    
}

.entrees, .plats, .desserts {
    width: 90%;
    margin-top: 2.5em;
    opacity: 0;
    
    h4 {
        font-weight: lighter;
        margin: 0;
        margin-top: 2em;
    }

    .lign {
        height: 0.2em;
        width: 2.5em;
        margin-top: 0.4em;
        background-color: #99e2d0;
    }
}

.entrees {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.plats {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.2s;
}

.desserts {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.4s;
}

/*-----Vignettes-----*/

.contain{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contener {
    width: 100%;
    display: flex;
    opacity: 0;
    border-radius: 20px;
    -webkit-box-shadow: 1px 5px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 5px 14px 0px rgba(0,0,0,0.75);
box-shadow: 1px 5px 14px 0px rgba(0,0,0,0.75);

    .contener-in-left {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .top {
            padding-bottom: 0.5em;
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .prix {
                text-overflow: initial;
            }

            h1{
                padding-top: 0;
            }

            .exeption {
                width: 67%;
            }
        }
    }

    .contener-in-right {
        background-color: #99e2d0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;
    }
    
    .contener-in-right .fas {
        color: white;
        font-size: 0em;
    }

    h1{
        max-height: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 80%; 
        padding: 1rem 1rem 1rem 1rem ;
    }


}

.contain:hover .contener-in-left {
    animation-name: slideIn, border;
    animation-duration: 0.2s, 0s;
    animation-fill-mode: forwards;
    animation-timing-function: linear, linear;
}

.contain:hover .contener-in-right {
    animation: slideDown 0.2s forwards;
    animation-timing-function: cubic-bezier(.41,.81,0.60,.67);
}

.contain:hover .contener-in-right .fas {
    animation: hello 0.5s forwards;
    
}

.cont1 {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.cont2 {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.2s;
}

.cont3 {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-delay: 0.4s;
}

/*-----Button-----*/

.button {
    width: 50%;
    height: 3.5em;
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 77%);
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 2em;
    color: white;
    @include midbox();
    box-shadow: $box-shadow;

    a {
        text-decoration: none;
        color: white;
    }
}


/*-----Footer-----*/

footer {
    height: 12.5em;
    width: 100%;
    background-color: #353535;
    @include midbox;

    .footer-in {
        width: 82%;
        height: 77%;
    }

    .footer-in a {
        text-decoration: none;
    }
    
    .footer-in img {
        width: 8em;
        filter: invert(1);
        margin-bottom: 1em;
    }
    
    .logo-text {
        display: flex;
        align-items: center;
        margin-top: 0.1em;
    }
    
    .logo-text p {
        margin: 0;
        margin-left: 0.5em;
        color: white;
    }
    
    .fa-utensils {
        font-size: 0.9em;
        color: white;
    }
    
    .fa-hands-helping {
        font-size: 0.6em;
        color: white;
    }
    
    .text-in {
        text-align: left;
        margin-top: 0;
        color: white;
    }
    
    .one {
        margin-bottom: 0;
    }

}


